<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finance Fluent {%block title%} {% endblock %}</title>
  </head>
  <body>
    <!-- notifications page -->
    <div class="app">
      <p>{{ order_tracking_id }}</p>
      <p>{{ order_merchant_reference }}</p>
      <p>{{ order_notification_type }}</p>
    </div>
    <!-- notifications page -->
  </body>
</html>
